<div style="background:url('../assets/back2.jpg')no-repeat ;background-size:100%;height:700px;">
    <br><br><br><br>
    <div class="container" style="opacity: 0.7;border:3px solid #0058fc;background-color: gray;border-radius: 30px;">
       
        <h2 class="text-center">S'INSCRIRE</h2><br>
        <form #formulaire="ngForm" (ngSubmit)="onSinscrire(formulaire)" >
            <input name="nom" [(ngModel)]="nom" #name="ngModel" type="text" class="form-control" placeholder="Votre nom" required pattern="[A-Z][a-zA-Z]+" >
            <div class="alert alert-danger" *ngIf="name.errors?.required && name.touched"> La saisie du nom est obligatoire </div>
            <div class="alert alert-danger" *ngIf="name.errors?.pattern && name.touched"> Il faut que le 1er lettre du nom en majuscules </div><br>
    
            <input name="prenom" [(ngModel)]="prenom" #firstName="ngModel" type="text" class="form-control" placeholder="Votre prenom"required pattern="[A-Z][a-zA-Z]+">
            <div class="alert alert-danger" *ngIf="firstName.errors?.required && firstName.touched"> La saisie du prenom est obligatoire </div>
            <div class="alert alert-danger" *ngIf="firstName.errors?.pattern && firstName.touched"> Il faut que le 1er lettre du prenom en majuscules </div><br>
    
            <input name="email" [(ngModel)]="email" #mail="ngModel" type="email" class="form-control" placeholder="votre Email"required email >
            <div class="alert alert-danger" *ngIf="mail.errors?.required && mail.touched"> La saisie du email est obligatoire </div>
            <div class="alert alert-danger" *ngIf="mail.errors?.email && mail.touched">Incorrect format "exmp@xx.xxx" </div><br>
    
            <input name="mtp" [(ngModel)]="mtp" #motpass="ngModel" type="password" class="form-control" placeholder="votre mot de passe"required minlength="8">
            <div class="alert alert-danger" *ngIf="motpass.errors?.required && motpass.touched"> La saisie du mot de passe est obligatoire </div>
            <div class="alert alert-danger" *ngIf="motpass.errors?.minlength && motpass.touched">il faut que le mot passe superieure de 8 caractéres </div><br>
    
            <input name="cmtp" [(ngModel)]="cmtp" #cmotpass="ngModel" type="password" class="form-control" placeholder="confirmer votre mot de passe"required>
            <div class="alert alert-danger" *ngIf="cmotpass.errors?.required && cmotpass.touched"> la cofirmation du mot de passe  est obligatoire </div>
            <div class="alert alert-danger" *ngIf="cmotpass.value != motpass.value && cmotpass.touched"> il est déffrents de mot de passe </div><br>
            
            <input name="adresse" #add="ngModel" [(ngModel)]="adresse" type="text" class="form-control" placeholder="Votre Adresse"required>
            <div class="alert alert-danger" *ngIf="add.invalid && add.touched"> la sasie d'adresse est obligatoire </div><br>
            
            <button class="btn btn-primary" [disabled]="formulaire.invalid ||cmotpass.value != motpass.value"><span class="spinner-grow spinner-grow-sm"></span>Créer un compte</button><br>
            <div class="alert alert-danger float-right" *ngIf="message"> {{message}} </div><br>

        </form>
    </div>
    </div>