<nav  class="navbar navbar-expand-sm  navbar-light fixed-top" >
<ul class="nav nav-tabs">
    <a class="navbar-brand" href="#">
        <img src="../assets/logo.png" alt="Logo" style="width:40px;">
      </a>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/Acceuil']">Accueil</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link" [routerLink]="['/ListeVoiture']">Mes offres </a>
    
    </li>
    <li class="nav-item" *ngIf="estUtilisatueur">
            <a  class="nav-link" [routerLink]="['/AjoutVoiture']"> Ajouter article</a>
        
     </li>
     <li class="nav-item" *ngIf="!estUtilisatueur" >
            <a  class="nav-link" [routerLink]="['/Authentfier']"> Authentifier</a>   
     </li>
     <li class="nav-item"  *ngIf="estUtilisatueur" >
        <button class="btn btn-primary"(click)="onDeconnecter()" > <span class="spinner-grow spinner-grow-sm"></span>deconnecter</button>   
     </li>

    
    </ul>
</nav>    